
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }

  .cardImage{
      height:200px;
      width: 200px;
      margin-left: 3px;
  }